* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  background-color: white;
  color: black;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  font-family: 'Moul';
  background-color: #d2e0e0;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Caesar Dressing';
  font-size: 60px;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.board {
  padding-top: 1%;
  background-color: white;
  border-color: black;
  padding: 1%;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 1%;
}

.row {
  background-color: #e6e6e6;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn-group button {
  background-color: white; /* Green background */
  border: 1px solid gray; /* Green border */
  color: black; /* White text */
  padding: 10% 10% 10% 10%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

.pin {
  padding: 15px 15px 15px 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: green;
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px #999;
}

.pin:hover {background-color: #3e8e41}

.pin:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
  cursor: pointer;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #e6e6e6;
}

/* Don't let it exceed 200px, and center it. */
.has-max {
  max-width: 500px;
  margin: auto;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.result-pin {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
