<!DOCTYPE html>
<html>
	<head>
		<title>Mastermind</title>
		<link rel="shortcut icon" href="../static/icon.jpg" type="image/png">
		<link rel="stylesheet" type="text/css" href="../static/style.css"/>
		<link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="header">
		  <h1> MASTERMiND </h1>
		</div>

	  <div class="col-2 grid">
			<img src="../static/logo.png">
			<p> Become the mastermind by decoding the hidden combination of colors.
				<ol>
		      <li>Guess the 4 color code</li>
		      <li><p>Receive a result for your attempt</p>
							<p><span class="result-pin white"></span> - correct color, wrong position</p>
							<p><span class="result-pin black"></span> - correct color, correct position</p>
					</li>
		      <li>Use this result to make a better educated guess in the next round</li>
		      <li>Try to successfully decrypt the code in minimum number of attempts</li>
		    </ol>
			<p> Find playing instructions <a href="https://en.wikipedia.org/wiki/Mastermind_(board_game)#:~:text=Each%20guess%20is%20made%20by,in%20both%20color%20and%20position">here</a>.</p>
	  </div>
		<div class="col-1"></div>
		<div class="col-6 board">
			<div class="row">
				<div class="has-max btn-group">
				  <button></button>
				  <button></button>
				  <button></button>
					<button></button>
				</div>
			</div>
			<div class="row">
				<div class="has-max btn-group">
				  <button></button>
				  <button></button>
				  <button></button>
					<button></button>
				</div>
			</div>
			<div class="row">
				<div class="has-max btn-group">
				  <button></button>
				  <button></button>
				  <button></button>
					<button></button>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
			<div class="col-2 board">
				<div class="row">
					 <button class="pin"></button>
			</div>
		</div>
	</body>
</html>
